<div class="p-3" *ngIf="{ programStage: programStage$ | async } as params">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.programStage"
  ></mat-progress-bar>
  <div
    *ngIf="
      params?.programStage?.programStageSections &&
      params?.programStage?.programStageSections?.length > 0
    "
  >
    <div
      *ngFor="
        let programStageSection of params?.programStage?.programStageSections;
        let count = index
      "
    >
      <ng-container *ngIf="count < 2">
        <div class="h5">
          {{ programStageSection?.name }}
        </div>
        <div>
          <app-program-stage-section-entry
            [programStageSection]="programStageSection"
          ></app-program-stage-section-entry>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="params?.programStage?.dataEntryForm">
    <app-program-stage-custom-form-entry
      [dataEntryForm]="params?.programStage?.dataEntryForm"
      [programStageDataElements]="
        params?.programStage?.programStageDataElements
      "
    ></app-program-stage-custom-form-entry>
  </div>
  <div
    *ngIf="
      params?.programStage?.programStageSections &&
      params?.programStage?.programStageSections?.length === 0
    "
  >
    <app-program-stage-general-entry
      [programStage]="params?.programStage"
    ></app-program-stage-general-entry>
  </div>
</div>
