<div class="p-3" *ngIf="{ programStage: programStage$ | async } as params">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.programStage"
  ></mat-progress-bar>
  <div
    class="row"
    *ngIf="
      params?.programStage?.programStageSections &&
      params?.programStage?.programStageSections?.length > 0
    "
  >
    <div
      class="col-md-12"
      *ngFor="
        let programStageSection of params?.programStage?.programStageSections;
        let count = index
      "
    >
      <ng-container *ngIf="count < 1">
        <div class="h5">
          {{ programStageSection?.name }}
        </div>
        <div class="d-flex justify-content-left">
          <app-program-stage-section-entry
            [programStage]="params?.programStage"
            [programStageSection]="programStageSection"
            [programRules]="programRules"
            [programId]="programId"
            [programRuleActions]="programRuleActions"
            [programRuleVariables]="programRuleVariables"
            [currentFormData]="formData[params?.programStage?.id] || {}"
            [itemsToHide]="itemsToHide"
            (capturedData)="onCaptureData($event, params?.programStage)"
            (programRulesActionsResults)="
              onGetProgramRulesActionsResults($event)
            "
          ></app-program-stage-section-entry>
          <app-form
            *ngIf="count === 0"
            [fields]="[yearlyFormField]"
            (formUpdate)="onFormUpdate($event, params?.programStage)"
          ></app-form>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-12"
      *ngFor="
        let stageSection of params?.programStage?.programStageSections;
        let stageCount = index
      "
    >
      <ng-container
        *ngIf="
          stageCount > 0 &&
          periodsToFeedData &&
          periodsToFeedData?.length > 0 &&
          !itemsToHide[stageSection?.id]
        "
      >
        <div class="row">
          <div class="col-12">
            <b>
              {{ stageSection?.name }}
              <!-- - {{ stageSection?.id }} -
              {{ stageSection?.id }} -->
            </b>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12" style="overflow: auto">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th rowspan="2" style="width: 20px">SN</th>
                  <th rowspan="2" style="width: 30%">Indicator</th>
                  <th
                    class="text-center"
                    colspan="4"
                    [ngStyle]="{
                      width:
                        periodsToFeedData?.length <= 4
                          ? '12% !important'
                          : '4% !important'
                    }"
                    *ngFor="let period of periodsToFeedData"
                  >
                    {{ period?.name }}
                  </th>
                  <th class="text-center"></th>
                </tr>
                <tr>
                  <ng-container *ngFor="let period of periodsToFeedData">
                    <th
                      class="text-center"
                      [ngStyle]="{
                        width:
                          periodsToFeedData?.length <= 4
                            ? '3% !important'
                            : '1% !important'
                      }"
                    >
                      DHIS2-ETL Result
                    </th>
                    <th
                      class="text-center"
                      [ngStyle]="{
                        width:
                          periodsToFeedData?.length <= 4
                            ? '3% !important'
                            : '1% !important'
                      }"
                    >
                      Unit Register Result
                    </th>

                    <th
                      class="text-center"
                      [ngStyle]="{
                        width:
                          periodsToFeedData?.length <= 4
                            ? '3% !important'
                            : '1% !important'
                      }"
                    >
                      Variance
                    </th>
                    <th
                      class="text-center"
                      [ngStyle]="{
                        width:
                          periodsToFeedData?.length <= 4
                            ? '3% !important'
                            : '1% !important'
                      }"
                    >
                      Do result agree Y/N
                    </th>
                  </ng-container>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let dataElement of stageSection['dataElements'];
                    let c = index
                  "
                >
                  <td>
                    {{ c + 1 }}
                  </td>
                  <td>
                    {{ dataElement?.name }}
                  </td>
                  <ng-container *ngFor="let period of periodsToFeedData">
                    <td class="text-center">
                      {{
                        indicatorsData[dataElement?.id + '-' + period?.id]
                          ?.value
                      }}
                    </td>
                    <td style="padding: 4px" class="text-center">
                      <!-- <app-data-entry-input
                        [period]="period"
                        [width]="'w-50'"
                        [elementId]="dataElement?.id"
                      ></app-data-entry-input> -->
                      <input
                        style="
                          width: 70px;
                          text-align: center;
                          padding: 6px;
                          border: solid 1px #b7b7b7;
                          border-radius: 3px;
                        "
                        type="number"
                        min="0"
                        required
                        (change)="
                          getData(
                            $event,
                            dataElement?.id,
                            period,
                            indicatorsData
                          )
                        "
                      />
                    </td>
                    <td
                      class="text-center"
                      [id]="dataElement?.id + '-' + period?.id + 'variance'"
                      [id]="dataElement?.id + '-' + period?.id + 'variance'"
                    ></td>
                    <td
                      class="text-center"
                      [id]="dataElement?.id + '-' + period?.id + 'yes-no'"
                    ></td>
                  </ng-container>
                  <td class="text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- <div
    class="mt-2"
    *ngIf="
      params?.programStage?.dataEntryForm &&
      isVerificationFormReady &&
      shouldRerender
    "
  >
    <app-program-stage-custom-form-entry
      [dataEntryForm]="params?.programStage?.dataEntryForm"
      [programStageDataElements]="
        params?.programStage?.programStageDataElements
      "
      [data]="currentFormData"
      [orgUnitId]="orgUnitId"
      [period]="period"
      (customFormDataValues)="
        onGetCustomFormDataValues($event, params?.programStage)
      "
    ></app-program-stage-custom-form-entry>
  </div> -->
  <div
    *ngIf="params?.programStage?.dataEntryForm && !isVerificationFormReady"
    class="alert alert-warning mt-2"
    role="alert"
  >
    Please define required fields above
  </div>
  <div
    class="mt-2"
    *ngIf="
      params?.programStage?.programStageSections &&
      params?.programStage?.programStageSections?.length === 0
    "
  >
    <app-program-stage-general-entry
      [programStage]="params?.programStage"
      [programRules]="programRules"
      [currentFormData]="currentFormData"
      (capturedData)="onCaptureData($event, params?.programStage)"
    ></app-program-stage-general-entry>
  </div>
</div>
